virtuales/sodimac ear/SodimacModuleEAR.ear/properties/SolicitudInventario_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/SolicitudInventario" elementFormDefault="qualified">
  <element name="SolicitudInventario">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />
        <element name="formato" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>