b2blink/irsb2blinklogistic/CustomerLogistic/CustomerLogisticQueue/src/parsers/resources/bbr/b2b/logistic/xml/main/PLRipleyBultoFactura.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DOC_BULTOS_DEM_ODI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RUT" type="xs:string" />
        <xs:element name="FACTURA_GUIA" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NUM_FAC_GUI" type="xs:string" />
              <xs:element name="FACTURA_O_GUIA" type="xs:string" />
              <xs:element name="NUM_ODI" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="BULTO_DEM_ODI">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NUM_BULTO" type="xs:string" />
                    <xs:element name="FECHA_BULTO" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="DETALLE_BULTO_DEM_ODI">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NUM_PROD_RIPLEY" type="xs:string" />
                          <xs:element name="PROV_CASEPACK" type="xs:string" />
                          <xs:element name="CANTIDAD" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>