b2blink/b2blinkinterfacesb2b/B2BLinkInterfacesB2B/src/main/resources/bbr/b2b/b2blink/history/OC_Interno_2.5.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/cencosud/OCInterno" elementFormDefault="qualified"
  xmlns:oc="http://www.bbr.cl/cencosud/OCInterno">
<!-- Versión Consolidado 2.5 -->
  <element name="orden">  
    <complexType>
      <sequence>
        <element name="flowid" type="string" minOccurs="0" />   <!-- Versión 2.5 -->
        <element name="ticket" type="string" minOccurs="0" />
        <element name="nombreportal" type="string" />
        <element name="no" type="long" />
        <element name="nro_boleta" type="string" minOccurs="0" />
        <element name="digito_verificador" type="int" />
        <element name="nosolicitud" type="string" minOccurs="0" />
        <element name="num_ref_1" type="string" minOccurs="0" />
        <element name="num_ref_2" type="string" minOccurs="0" />
        <element name="num_ref_3" type="string" minOccurs="0" />
        <element name="estado_oc" type="string" />
        <element name="estado_oc_bbr" type="string"  minOccurs="0"/> <!-- Versión 2.5 -->
        <element name="tipo_oc" type="string" />
        <element name="tipo_oc_bbr" type="string" minOccurs="0" />
        <element name="VeV" type="boolean" minOccurs="0"/>
        <element name="fecha_emision" type="date" />
        <element name="fecha_vigencia" type="date" />
        <element name="fecha_vto" type="date" />
        <element name="fecha_compromiso" type="date" minOccurs="0" />
        <element name="total" type="double" />        
        <element name="codigo_local_venta" type="string" minOccurs="0" />
        <element name="cod_local_entrega" type="string" />
        <element name="desc_local_venta" type="string" minOccurs="0" />
        <element name="desc_local_entrega" type="string" minOccurs="0"/>
        <element name="forma_pago" type="string" minOccurs="0"/>
        <element name="comentarios" type="string" />
        <element name="responsable" type="string" />
        <element name="email_responsable" type="string" minOccurs="0"/>
        <element name="moneda" type="string" minOccurs="0"/>
        <element name="seccion">
          <complexType>
            <sequence>
              <element name="cod_seccion" type="string" />
              <element name="seccion" type="string" />
            </sequence>
          </complexType>
        </element>
        <element name="edi_data">
          <complexType>
            <sequence>
              <element name="senderIdentification" type="string" />
              <element name="recipientIdentification" type="string" />
              <element name="correlativeVendor" type="string" minOccurs="0" />
              <element name="messageReferenceNumber" type="string" />
              <element name="countrycode" type="string" />
              <element name="buyerCode" type="string" />
              <element name="buyerLocationCode" type="string" />
              <element name="billToPartner" type="string" minOccurs="0"/>
            </sequence>
          </complexType>
        </element>
        <element name="comprador">
          <complexType>
            <sequence>
              <element name="rut" type="string" />
              <element name="digito_verificador" type="string" minOccurs="0" />
              <element name="razon_social" type="string" />
              <element name="unidad_negocio" type="string" />
            </sequence>
          </complexType>
        </element>
        <element name="vendedor">
          <complexType>
            <sequence>
              <element name="rut" type="string" />
              <element name="digito_verificador" type="string" minOccurs="0" />
              <element name="code" type="string" minOccurs="0"/>
              <element name="razon_social" type="string" />
              <element name="contacto" type="string" />
              <element name="direccion" type="string" />
              <element name="telefono" type="string" />
            </sequence>
          </complexType>
        </element>
        <element name="cliente" minOccurs="0">
          <complexType>
            <sequence>
              <element name="nombre" type="string" />
              <element name="rut" type="string" />
              <element name="telefono" type="string" />
              <element name="telefono_alternativo" type="string" minOccurs="0"/>
              <element name="direccion" type="string" />
              <element name="numcalle" type="string" />
              <element name="numdepto" type="string" />
              <element name="numcasa" type="string" />
              <element name="region" type="string" />
              <element name="comuna" type="string" />
              <element name="ciudad" type="string" />
              <element name="comentario" type="string" />
              <element name="localidad" type="string"  minOccurs="0" />
            </sequence>
          </complexType>
        </element>
        <element name="locales">
          <complexType>
            <sequence minOccurs="1" maxOccurs="unbounded">
              <element name="local">
                <complexType>
                  <sequence>
                    <element name="cod" type="string" />
                    <element name="nombre" type="string" />
                    <element name="direccion" type="string" />
                    <element name="ean" type="string" minOccurs="0" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="desc_generales">
          <complexType>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="descuento" type="oc:cargo_descuento" />
            </sequence>
          </complexType>
        </element>
        <element name="cargos_generales">
          <complexType>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="cargo" type="oc:cargo_descuento" />
            </sequence>
          </complexType>
        </element>
        <element name="action" minOccurs="0">
          <complexType>
            <sequence>             
              <element name="code" type="string" minOccurs="0"/>             
              <element name="description" type="string"  minOccurs="0" />
            </sequence>
          </complexType>
        </element>
        <element name="detalles">
          <complexType>
            <sequence maxOccurs="unbounded">
              <element name="detalle">
                <complexType>
                  <sequence>
                    <element name="item" type="int" />
                    <element name="cod_prod_comp" type="string" />
                    <element name="cod_prod_vendedor" type="string" />
                    <element name="ean13" type="string" />
                    <element name="descripcion_prod" type="string" />
                    <element name="cod_empaque" type="string" minOccurs="0" />
                    <element name="desc_empaque" type="string" minOccurs="0" />
                    <element name="desc_um_unidad" type="string" minOccurs="0" />
                    <element name="prod_empaque" type="float" />
                    <element name="cantidad_empaque" type="int" />
                    <element name="innerpack" type="int" minOccurs="0" />
                    <element name="costo_lista" type="double" />
                    <element name="costo_final" type="double" />
                    <element name="precio_lista" type="double" minOccurs="0"/>
                    <element name="rubro" type="string" minOccurs="0" />
                    <element name="ean1" type="string" minOccurs="0" /> 
                    <element name="ean2" type="string" minOccurs="0" /> 
                    <element name="ean3" type="string" minOccurs="0" /> 
                    <element name="cod_estilo" type="string" minOccurs="0" />
                    <element name="desc_estilo" type="string" minOccurs="0" />
                    <element name="marca_estilo" type="string" minOccurs="0" />
                    <element name="tolerancia" type="string" minOccurs="0" />  
                    <element name="fecha_entrega_producto" type="date" minOccurs="0" />
                    <element name="observacion" type="string" minOccurs="0" />
                    <element name="costo_flete" type="double" minOccurs="0" />
                    <element name="peso_flete" type="double" minOccurs="0" />
                    <element name="num_ref_1" type="string" minOccurs="0" />
                    <element name="num_ref_2" type="string" minOccurs="0" />
                    <element name="num_ref_3" type="string" minOccurs="0" />
                    <element name="costo_con_impuesto" type="double" minOccurs="0" />
                    <element name="desc_producto">
                      <complexType>
                        <sequence minOccurs="0" maxOccurs="unbounded">
                          <element name="descuento" type="oc:cargo_descuento" />
                        </sequence>
                      </complexType>
                    </element>
                    <element name="cargos_prod">
                      <complexType>
                        <sequence minOccurs="0" maxOccurs="unbounded">
                          <element name="cargo" type="oc:cargo_descuento" />
                        </sequence>
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="predistribuciones">
          <complexType>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="predistribucion">
                <complexType>
                  <sequence>
                    <element name="posicion" type="int" minOccurs="0"/>
                    <element name="cod_local" type="string" />
                    <element name="sku" type="string" />
                    <element name="cod_estilo" type="string" minOccurs="0" />
                    <element name="cantidad" type="string" />                    
                     <element name="cantidad_endespacho" type="string" minOccurs="0"/>
                     <element name="cantidad_recepcionada" type="string" minOccurs="0"/>
                     <element name="cantidad_pendiente" type="string" minOccurs="0"/>
                    </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <complexType name="cargo_descuento">
    <sequence>
      <element name="monto" type="float" />
      <element name="porcentaje" type="float" />
      <element name="tipo" type="oc:tipo_cargo_descuento" />
      <element name="glosa" type="string" minOccurs="0" />
      <element name="codigo" type="string" />
    </sequence>
  </complexType>
  <simpleType name="tipo_cargo_descuento">
    <restriction base="string">
      <enumeration value="monto"></enumeration>
      <enumeration value="porcentaje"></enumeration>
    </restriction>
  </simpleType>
</schema>