b2blink/b2blinkinterfacesb2b/B2BLinkInterfacesB2B/src/main/resources/bbr/b2b/b2blink/history/SolicitudVentas_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/SolicitudVentas" elementFormDefault="qualified">
<!-- Versión 1.1 -->
  <element name="SolicitudVentas">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />
        <element name="formato" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>