b2blink/b2blinkinterfacesb2b/B2BLinkInterfacesB2B/src/main/resources/bbr/b2b/b2blink/xsd/NotificacionLocales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/NotificacionLocales" elementFormDefault="qualified">
  <!-- Versión 1.0 -->
  <element name="NotificacionLocales">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="nombreportal" type="string" />
        <element name="codproveedor" type="string" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
</schema>