b2blink/b2blinkinterfacesb2b/B2BLinkInterfacesB2B/src/main/resources/bbr/b2b/b2blink/xsd/NotificacionReciboLocales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/NotificacionReciboLocales" elementFormDefault="qualified">
<!-- Versión 1.0 -->
  <element name="NotificacionReciboLocales">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="nombreportal" type="string" />
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />
        <element name="idMsge" type="string" />
        <element name="estado" type="string" />
		<element name="archivo" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>