b2blink/b2blinkinterfacesb2b/B2BLinkInterfacesB2B/src/main/resources/bbr/b2b/b2blink/xsd/SolicitudLocales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/SolicitudLocales" elementFormDefault="qualified">
<!-- Versión 1.0 -->
  <element name="SolicitudLocales">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="nombreportal" type="string"  minOccurs="0"/>
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />
        <element name="formato" type="string" />
        <element name="fecha_activacion" type="string" minOccurs="0"/> 
      </sequence>
    </complexType>
  </element>
</schema>