virtuales/falabella ear/FalabellaModuleEAR.ear/properties/SolicitudOrdenes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/SolicitudOrdenes" elementFormDefault="qualified">
  <element name="SolicitudOrdenes">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />                
      </sequence>
    </complexType>
  </element>
</schema>