b2b/ParisCLLogistic/ParisCLLogisticQueue/src/parsers/resources/bbr/b2b/regional/logistic/xml/main/NotificacionOrden.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbr.cl/NotificacionOrden" elementFormDefault="qualified">
  <element name="NotificacionOrden">
    <complexType>
      <sequence minOccurs="1" maxOccurs="1">
        <element name="nombreportal" type="string" />
        <element name="codproveedor" type="string" />
        <element name="codcomprador" type="string" />
        <element name="numorden" type="string" />
        <element name="estado" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>